<!DOCTYPE html>
<html lang="en">

{% block head %} 
<head>
  <meta charset="utf-8">
  <title>{% block title %} -Octavision{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/octavision/img/favicon.png" rel="icon">
  <link href="/assets/octavision/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/octavision/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- /assets/octavision/libraries CSS Files -->
  <link href="/assets/octavision/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/octavision/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/octavision/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/octavision/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/octavision/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/assets/octavision/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

{% endblock %}
{% include 'templates/includes/header.html' %}
{% block content %} 

{% endblock %}
{% include 'templates/includes/footer.html' %}


{% block script %}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript /assets/octavision//assets/octavision/libraries -->
<script src="/assets/octavision/lib/jquery/jquery.min.js"></script>
<script src="/assets/octavision/lib/jquery/jquery-migrate.min.js"></script>
<script src="/assets/octavision/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/octavision/lib/easing/easing.min.js"></script>
<script src="/assets/octavision/lib/mobile-nav/mobile-nav.js"></script>
<script src="/assets/octavision/lib/wow/wow.min.js"></script>
<script src="/assets/octavision/lib/waypoints/waypoints.min.js"></script>
<script src="/assets/octavision/lib/counterup/counterup.min.js"></script>
<script src="/assets/octavision/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/assets/octavision/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/assets/octavision/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<!-- <script src="contactform/contactform.js"></script> -->

<!-- Template Main Javascript File -->
<script src="/assets/octavision/js/main.js"></script>

</body>
</html>

{% endblock %}
