{% extends 'templates/octabase.html' %}
{% block title %}Service{% endblock %}
{% block content%}
 <!--==========================
        Services Section
      ============================-->
    <section id="services" class="section-bg">
        <div class="container">

          <header class="section-header">
            <h3>Services</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
          </header>
          
          <div class="row">
                {% for services in services %}
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="{{services.font_awesome}}" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">{{services.title}}</a></h4>
                        <p class="description">{{services.sub_title}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
<!-- #services -->
      {% endblock %}